<h1>About Me</h1>
<p>I am a polyglot software developer with a background in physics and extensive experience at developing software applications over a long period of time.</p>
<p>My hobbies include Scouting, flying, motor sports and more recently, being a grandad.</p>
<p>I reside in the frozen wastelands of Melbourne Australia, in the village-like seaside suburb of Seaford.</p>
