<h1>Pages#contact</h1>

<!-- Following are examples only. in view commit but not final master -->

<p><%= number_to_phone "04315551235" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "123455551235" %></p>
